.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.DS_Store

!src/webview/*.js
!src/webview/*.ts
!src/webview/*.html
!src/webview/*.css
!src/webview/modules/*.js
!resources/**
