/**
 * Log Group styles for ProgressView
 */

.log-group-header {
  padding: 1px var(--spacing-medium);
  margin: 1px 0;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-left: var(--border-medium) solid var(--color-border);
}

.log-group-header.is-running {
  border-left-color: var(--vscode-statusBarItem-warningBackground);
}

.log-group-header.is-error {
  border-left-color: var(--vscode-errorForeground);
}

.log-group-header.is-stopped {
  border-left-color: var(--vscode-testing-iconPassed);
}

.log-group-content {
  padding-left: var(--spacing-small);
  border-left: var(--border-thin) dashed
    var(--vscode-editorGroupHeader-tabsBorder);
}

.log-run {
  border: none;
}

.log-run > .log-group-content {
  padding-left: 0;
  border-left: none;
}

.group-status-icon {
  margin-right: var(--spacing-small);
}

.group-title {
  font-weight: bold;
  flex-grow: 1;
}

.group-time {
  font-size: var(--font-size-sm);
  opacity: var(--opacity-subtle);
  margin-left: var(--spacing-small);
}

.group-start-time,
.group-duration {
  margin-right: var(--spacing-small);
}

.group-bullet {
  margin: 0 var(--spacing-tiny);
}

.spin {
  animation: spin 2s linear infinite;
}

:is(.log-line, .banner-details)[data-group-id] {
  border-left: var(--border-medium) solid transparent;
}

.log-group-content
  > :is(.log-group-header, .log-group-content, .log-line, .banner-details) {
  margin-left: var(--spacing-small);
}

.log-group-content .log-group-header {
  border-left-width: var(--border-thin);
}

.log-group-content .log-group-content :is(.log-line, .banner-details) {
  margin-left: 0;
}
