build/
build/*
Versions/
History/

*.bak0
recordings/
*_opus.tex
*_sonnet.tex
*_haiku.tex
*_haiku*.tex
main.pdf
*_gpt4o.txt
*_gpt4t.txt
*_gpt4t.tex  
*_gpt4t-.txt
*_gpt4t-.tex  
*_gpt4o.tex  
*_opus.txt
*_opus.xml
*_gpt4o.pdf
*_gpt4t.pdf
*_opus.pdf
*_sonnet*.pdf
*_haiku.pdf
*diffHEAD
*diffHEAD.tex
*_sonnet.txt
*_sonnet*.txt
*_thinking.xml
*opus*.*
*sonnet*.*
*haiku*.*
*gpt4o*.*
*gpt4t*.*
*gpt4ol*.*
*diff*.*
*_sonnet+.tex
*_sonnet+.txt
FiguresEx/
Diffs
git_dropbox_sync.sh

coauthor_logs.db