.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
!node_modules/split.js/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.DS_Store

!resources/**
!src/webview/*.js
!src/webview/*.ts
!src/webview/*.html
!src/webview/*.css
!src/webview/modules/*.js
!src/common/styles/*.css

!src/logger/logView/*.js
!src/logger/logView/*.html
!src/logger/logView/*.css
!src/logger/LogViewProvider.ts
!src/logger/LogViewContentProvider.ts
!src/logger/LogViewMessageHandler.ts
