.DS_Store
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
# **/.eslintrc.json
# eslint.config.js
**/*.map
**/*.ts
**/.vscode-test.*
.DS_Store
venv/**
docs/**
docs/

!node_modules/@vscode/codicons/dist/**
!node_modules/split.js/**

!resources/**
!src/webview/*.js
!src/webview/*.html
!src/webview/*.css
!src/webview/styles/*.css
!src/webview/modules/*.js
!src/common/styles/*.css

!src/historyView/modules/*.js
!src/historyView/styles/*.css
!src/historyView/*.html
!src/historyView/*.css
!src/historyView/*.js

!src/progressView/modules/*.js
!src/progressView/styles/*.css

!src/progressView/*.js
!src/progressView/*.html
!src/progressView/*.css
